/*Default styling*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
  padding-top: 0px;
}

/*Main header begins*/

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(87, 149, 210, 0.8), rgba(180, 196, 209, 0.8)), url('../images/ato-aikins-283964-unsplash.jpg');
  background-size: cover;
  position: relative;
  background-position: 0px;
  backface-visibility: hidden;
  /*clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%);*/

  animation-name: fadeIn;
  animation-duration: 2s;

  animation-name: photoSlider;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 3s;

  /*transition: background-image 5s ease-in-out;*/
}

.logo{
  color: white;
  padding-top: 20px;
}

.text-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
  text-align: left;
}

.heading-primary{
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary-main{
  display: block;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 15px;

  animation-name: fadeIn;
  animation-duration: 2s;
}

.heading-primary-sub{
  display: block;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 17.4px;
  font-family: 'Fredericka the Great', cursive;

  animation-name: moveInRight;
  animation-duration: 3s;
}

@keyframes fadeIn {
    0%{
      opacity: 0;
    }

}

@keyframes moveInRight {
    0%{
      opacity: 0;
      transform: translate(200px);
    }

}

/*Navigation bar begins*/

.nav-bar{
  text-align: right;
  padding: 20px;
  background-color: rgba(97, 144, 185, 0.9);
  top: 0;
  position: fixed;
  width: 96.75%;
  z-index: 1;
}


.nav-link {
  text-decoration: none;
  padding: 20px;
  font-size: 25px;
  color: white;
  margin-left: 15px;
}

.nav-link:hover{
  color: #D2E3EE;
 }


.donate-link{
  
  background-color: #fff;
  color: grey;
  border-radius: 30px;
  padding: 15px 40px;
    font-size: 25px;

  margin-right: 20px;
}

.donate-link:hover{
  box-shadow: 2px 4px rgba(63, 65, 65, 0.2); 
}

.donate-link:active{
  box-shadow: none;
}

/*Post-header section begins*/

#post-header{
  height: 370px;
  padding-left: 400px;
  padding-top: 100px;
  font-size: 2.2em;
 
}

.our-story, .support-us{

  height: 40vh;
  margin-top: 20px;
  padding: 50px;

}

/*Section structure and grid layout for middle section*/

.section{

  margin-left: 17.7%;
  width: 35vw;
  font-size: 0.5em;
  transform: translate(-300px, -100px);
 
}


.title, .title2, .title3{
  
  font-size: 1.8em;
  padding-left: 100px;
  transform: translateY(220px);
  color: white;
  background-color: rgba(108, 147, 171, 0.7);
  width: 350px;
  font-family: 'Antic', sans-serif;
  letter-spacing: 1px;

 
}


/*incorporate a slider for the header photos*/
/*
@keyframes photoSlider {

     0%{
   
      background-image: linear-gradient(to left bottom, rgba(133, 196, 240, 0.8), rgba(40, 180, 133, 0.8) ), url('../images/adult-artist-black-background-1529350.jpg');
    }
   
     30%{
      
      background-image: linear-gradient(to left bottom, rgba(133, 196, 240, 0.8), rgba(40, 180, 133, 0.8) ), url('../images/arms-care-check-905874.jpg');
    }
     70%{
      
      background-image: linear-gradient(to left bottom, rgba(133, 196, 240, 0.8), rgba(40, 180, 133, 0.8) ), url('../images/adult-afro-blur-1181519.jpg');
    }
     100%{
      
      background-image: linear-gradient(to left bottom, rgba(133, 196, 240, 0.8), rgba(40, 180, 133, 0.8) ), url('../images/ato-aikins-283964-unsplash.jpg');
    }

}
*/

/*Middle section begins*/

.black-artist {
  height: 300px;
  width: 500px;
  border-radius: 5px;
  margin-top: 10px;
  background-image: url("../images/adult-artist-black-and-white-935959.jpg");
  background-size: cover;
}

.black-artist:hover{
  background-image: linear-gradient(to left bottom, rgba(249, 252, 254, 0.4), rgba(249, 252, 254, 0.4)), url("../images/adult-artist-black-and-white-935959.jpg");
  background-size: cover;
}

.sub-container{
  padding-left: 350px;
  padding-top: 20px;
}


.black-grad{
  height: 300px;
  width: 500px;
  border-radius: 5px;
  background-image: url('../images/buildings-cellphone-cheerful-1586486.jpg');
  background-size: cover;

}

.black-grad:hover{
  background-image: linear-gradient(to left bottom, rgba(249, 252, 254, 0.4), rgba(249, 252, 254, 0.4)), url('../images/buildings-cellphone-cheerful-1586486.jpg');
}


#our-story{
  transform: translate(200px, -280px);
  width: 500px;
  color: white;
  background-color: rgba(108, 147, 171, 0.7);
  border-radius: 10px;


}

.black-reader{
  height: 300px;
  width: 500px;
  border-radius: 5px;
  background-image: url('../images/blurred-background-book-daylight-936133.jpg');
  background-size: cover;

}

.black-reader:hover{
  background-image: linear-gradient(to left bottom, rgba(249, 252, 254, 0.4), rgba(249, 252, 254, 0.4)), url('../images/blurred-background-book-daylight-936133.jpg');

}

.side-pic{
  width: 100px;
}


#grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.text-area{
  height: 300px;
  width: 500px;
}

.title-2{
  transform: translateX(-270px);
  color: grey;
  font-size: 30px;
  margin-bottom: 20px;

}
.believe{
  transform: translateX(-270px);
  color: grey;
  font-size: 1.2em;
}

#our-story1, #our-story2, #our-story3{
  color: white;
  background-color: rgba(108, 147, 171, 0.85);
  padding-left: 30px;
  padding-right: 30px;
}

a{
  text-decoration: none;
}

/*Pre-footer section begins*/

#pre-footer{
  height: 500px;
  background-color: #E4EBEF;
  margin-top: 20px;
}

/*Email submission in the prefooter section*/

.email-field{
  padding: 200px 300px;

}

.input-field{
  height: 40px;
  width: 300px;
}

.send-btn{
  width: 100px;
  height: 40px;
  color: white;
  background-color: #61ACDA;
  border-radius: 8px;
  font-size: 1.2em;
  border: none;
  margin-left: 10px;
}

.send-btn:hover{
  background-color: #8DBBD9;
}


.get-involved{
  transform: translateY(170px);
  padding-left: 270px;
}

input[placeholder]{
  text-align: center;
  font-size: 1.2em;

}

.copyright{
  text-align: center;
}

#make-difference{
  height: 300px;
  width: 500px;
  border-radius: 40px;
  box-shadow: 2px 4px rgba(182, 186, 189, 0.5);
  background-color: rgba(244, 247, 250, 0.8);
  transform: translate(900px, -400px);
  color: rgba(54, 148, 213, 0.8);
}

#make-difference i{
   transform: translate(220px, 30px);
    color: rgba(54, 148, 213, 0.5);
}

#make-difference p{
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 0.9em;

}

#top{
  font-size: 2em;
  text-align: center;
  padding-top: 40px;

 
}

#bottom{
  font-size: 1.5em;
  text-align: center;
  
}




/*Footer section begins*/

.footer{
  height: 40vh;
  margin-top: 2px;
  width: 80vw;
  padding-left: 300px;
}


.footer-contact{
  padding-top: 40px;
  text-align: center;
}

.icon i{
  display: inline;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: #61ACDA;
  border-radius: 20px;
}

.icon i:hover{
  background-color: #8DBBD9;
}

.contact-icons{
  transform: translateY(100px);
  padding-left: 450px;
}

.footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 160px;

}

.f1{
  display: block;
}

.f1 a {
  color: #61ACDA;
}

.f1 a:hover{
  text-decoration: underline;
}

.f2 p, .f3 p{
  color: #61ACDA;
}

h4{
  text-transform: uppercase;
}


/*have a spot for sponsors on the footer section*/



/* MEDIA QUERIES */

@media screen and (max-width: 1755px){
  .header{
    width: 1550px;
  }

  .nav-bar{
    width: 1755px;
  }

  .nav-bar{
    text-align: center;
    padding-left: 300px;

  }

  .black-artist, .black-reader, .black-grad{
    width:350px;
  }



}

@media screen and (max-width: 1555px){
  h1{
    font-size: 1.2em;
  }

  h4{
    font-size: 0.5em;
  }

   .header{
    width: 1520px;
  }

  .nav-bar{
    width: 1635px;
  }

  .nav-bar{
    text-align: center;
    padding-left: 200px;

  }

.nav-link {
  font-size: 23.5px;
}

  .black-artist, .black-reader, .black-grad{
    width:350px;
  }


.heading-primary-main{
  display: block;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 15px;
  

  animation-name: fadeIn;
  animation-duration: 2s;
}

.heading-primary-sub{
  display: block;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 17.4px;
  font-family: 'Fredericka the Great', cursive;
  
  /*animation-name: moveInRight;
  animation-duration: 3s;*/
}


}

@media screen and (max-width: 1355px){
  h1{
    font-size: 0.92em;
  }

  h4{
    font-size: 0.5em;
  }

  .nav-bar, .header{
    width: 1255px;
  }

  .nav-bar{
    text-align: center;

  }

  .nav-link {
  font-size: 22px;
}


  .believe, .title-2{
    width: 350px;
  }

  .heading-primary-main{
  display: block;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 15px;
  text-align: left;
  /*padding-left: 130px;*/

  animation-name: fadeIn;
  animation-duration: 2s;
}

.heading-primary-sub{
  display: block;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 17.4px;
  font-family: 'Fredericka the Great', cursive;
  /*text-align: right;*/
  /*animation-name: moveInRight;
  animation-duration: 3s;*/
}


}

@media screen and (max-width: 1020px){
  h1{
    font-size: 0.9em;
    width: 800px;
  }

  h4{
    font-size: 0.5em;
  }

  .nav-bar, .header{
    width: 1020px;
  }

  .nav-bar{
    text-align: center;

  }

  #grid-container{
  display: grid;
  grid-template-columns: 1fr;

  }

  .believe, .title-2{
    width: 710px;
    padding-left: 100px;

  }

    .black-artist, .black-reader, .black-grad{
    width:550px;
    transform: translateX(-160px);
  }

.heading-primary-main{
  display: block;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 15px;
  text-align: left;
  padding-left: 200px;

  animation-name: fadeIn;
  animation-duration: 2s;
}

.heading-primary-sub{
  display: block;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 17.4px;
  font-family: 'Fredericka the Great', cursive;
  padding-left: 200px;
  /*animation-name: moveInRight;
  animation-duration: 3s;*/
}

.nav-link {
  font-size: 20px;
}

}

